.section_padding{
    padding: 1rem 1rem;
}
.footer{
    background-color: rgb(39, 38, 38);
}
.sb_footer{
    display: flex;
    flex-direction: column;
}
.sb_footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}
.sb_footer-links div{
    width: 200px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}
a{
    color: rbg(175,175,179);
    text-decoration: none;
}
.socialmedia{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.sb_footer-links div h4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
    color: black;
}
.sb_footer-links div a{
    font-size: 10px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}
.sb_footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}
hr{
    color: white !important;
    width: 100%;
    border: 2px red;
}
.sb_footer-copyright{
   font-size: 13px;
   line-height: 15px;
   color: white;
   font-weight: 600;
   background-color:black;
   text-align: center;
   padding: 10px;
}
.sb_footer-links_div p{
    color: rgb(54, 51, 51);
}